:root {
    --primary-color: #f3f3f3;
    --background-color: #f3f3f3;
    --font: sans-serif;
    --headersize: 400px;
  }
  
  * {
    margin: 0;
    padding: 0;
  }
  
  body {
    background: var(--background-color);
    font-family: var(--font);
    
  }
  .contactInfo{
    margin-top: 5%;
    margin-left: 10%;
    font-size: xx-large;
  }
  .contactInfo ul{
   list-style: none;
  }
  .contactInfo li{
    display: list-item;
    color: rgb(0, 0, 0);
    height: fit-content;
    background: rgba(83, 136, 175, 0.1);
    width: fit-content;
    margin: 10px;
    padding: 10px;
  }